//-------------------------------
//Declare variables and mixins
$background-color: #f7ece1;
$field-color: #dcb8cb;
$primary-font-color: #242038;
$secondary-font-color: #f2f2f2;
$accent-color: #d6596e;
$caption-color: #900000;

@mixin flex-it {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//-------------------------------
body {
  font-size: 62.5%;
  position: relative;
}

//-------------------------------
//Main element styling
main {
  min-height: 100vh;
  width: 100%;
  background: $background-color;
  text-align: center;
  @include flex-it();
  padding: 0 10px 50px 10px;

  .pitchfork {
    max-width: 50px;

    // Shake it like a polaroid picture
    &:hover {
      animation: shake 1s;
      animation-iteration-count: infinite;
    }

    @keyframes shake {
      0% {
        transform: translate(1px, 1px) rotate(0deg);
      }

      10% {
        transform: translate(-1px, -2px) rotate(-1deg);
      }

      20% {
        transform: translate(-3px, 0px) rotate(1deg);
      }

      30% {
        transform: translate(3px, 2px) rotate(0deg);
      }

      40% {
        transform: translate(1px, -1px) rotate(1deg);
      }

      50% {
        transform: translate(-1px, 2px) rotate(-1deg);
      }

      60% {
        transform: translate(-3px, 1px) rotate(0deg);
      }

      70% {
        transform: translate(3px, 1px) rotate(-1deg);
      }

      80% {
        transform: translate(-1px, -1px) rotate(1deg);
      }

      90% {
        transform: translate(1px, 2px) rotate(0deg);
      }

      100% {
        transform: translate(1px, -2px) rotate(-1deg);
      }
    }

    @media all and (max-width: 500px) {
      display: none;
    }
  }

  h1 {
    max-width: 800px;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding: 0 5%;
  }

  form {
    position: relative;
    width: 100%;
    @include flex-it();
  }

  label {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
  }

  input {
    max-width: 800px;
    width: 100%;
    height: 90px;
    margin-bottom: 25px;
    border: none;
    background: $field-color;

    color: $secondary-font-color;
    font-family: "Helvetica", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }
}

//-------------------------------
//Buttons styling
button {
  width: 300px;
  max-width: 100%;
  height: 80px;
  margin-bottom: 25px;
  border: none;
  background: $accent-color;

  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $secondary-font-color;
  transition: background 0.5s;

  &:hover {
    background: $primary-font-color;
  }
}

//-------------------------------
section {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/fire.gif) no-repeat;
  background-size: cover;
  @include flex-it();
  flex-flow: flow-wrap;
  text-align: center;
  padding: 5%;

  .gif-home {
    max-width: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
  }

  .next-steps {
    width: 100%;
  }

  video {
    max-width: 99.9%;
  }
}

//-------------------------------
//dynamic elements styling

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  padding: 20px 10px;
  background: $caption-color;
  text-align: center;
  color: $secondary-font-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.pop-up {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-bottom: 25px;
}

.quote {
  position: initial;
  padding: 8px 15px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background: $caption-color;
  color: $secondary-font-color;
  text-align: left;
}
