/*Setup*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  position: relative; }

main {
  min-height: 100vh;
  width: 100%;
  background: #f7ece1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px 50px 10px; }
  main .pitchfork {
    max-width: 50px; }
    main .pitchfork:hover {
      -webkit-animation: shake 1s;
      animation: shake 1s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }
    @media all and (max-width: 500px) {
      main .pitchfork {
        display: none; } }
  main h1 {
    max-width: 800px;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 50px;
    padding: 0 5%; }
  main form {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  main label {
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute; }
  main input {
    max-width: 800px;
    width: 100%;
    height: 90px;
    margin-bottom: 25px;
    border: none;
    background: #dcb8cb;
    color: #f2f2f2;
    font-family: "Helvetica", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center; }

button {
  width: 300px;
  max-width: 100%;
  height: 80px;
  margin-bottom: 25px;
  border: none;
  background: #d6596e;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #f2f2f2;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s; }
  button:hover {
    background: #242038; }

section {
  width: 100%;
  min-height: 100vh;
  background: url(./assets/fire.gif) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: flow-wrap;
  flex-flow: flow-wrap;
  text-align: center;
  padding: 5%; }
  section .gif-home {
    max-width: 600px;
    width: 100%;
    position: relative;
    margin-bottom: 25px; }
  section .next-steps {
    width: 100%; }
  section video {
    max-width: 99.9%;
    background: #900000; }

img {
  display: block;
  width: 100%; }

p {
  margin: 0;
  padding: 20px 10px;
  background: #900000;
  text-align: center;
  color: #f2f2f2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  text-transform: uppercase; }

.pop-up {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin-bottom: 25px; }

.quote {
  position: initial;
  padding: 8px 15px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  background: #900000;
  color: #f2f2f2;
  text-align: left; }

.credits-closed,
.credits-opened {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 50px; }

.credits-closed {
  color: #242038;
  background: none;
  text-align: left;
  padding: 0 0 30px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-transform: inherit;
  font-weight: bold;
  letter-spacing: 0.02rem; }
  .credits-closed:hover {
    color: #d6596e;
    background: none; }

.credits-opened {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #242038; }
  .credits-opened i {
    color: #f7ece1;
    font-size: 2rem;
    padding: 10px 10px 10px 20px; }
    .credits-opened i:hover {
      color: #d6596e; }

.credits {
  display: block;
  background: #242038;
  color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-transform: inherit;
  padding: 5px 10px;
  letter-spacing: 0.02rem;
  text-align: left; }
  .credits a {
    text-decoration: none;
    color: #d6596e; }
    .credits a:hover {
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline; }

@media all and (max-width: 850px) {
  form {
    width: 90%; }
  input {
    font-size: 1.4rem; } }

@media all and (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
    line-height: 2rem; }
  button {
    width: 100%; }
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 10px; }
  .pop-up {
    height: 100px; }
  .quote {
    font-size: 1rem;
    line-height: 1.6rem; }
  .gordon {
    width: 100px; } }
